# Learn Python Pandas

## Import Pandas

In [1]:
import pandas as pd

# DataFrame

## Make simple DataFrame

In [2]:
pd.DataFrame(data={'Fruit': ['Apple', 'Watermelon'],
                  'Price': [4000, 7500]})

        Fruit  Price
0       Apple   4000
1  Watermelon   7500

## index in DataFrame

In [3]:
pd.DataFrame(data={'Amy': ['No', 'No'],
                  'Bob': ['Allergic', 'No']},
            index=['Seafood', 'Dairy Products'])

               Amy       Bob
Seafood         No  Allergic
Dairy Products  No        No

# Series

In [4]:
pd.Series(data=[100, 150, 200, 250, 300])

0    100
1    150
2    200
3    250
4    300
dtype: int64

In [5]:
pd.Series(data=[3000, 3500, 40_000], index=['Water', 'Tea', 'Wine'], name='Beverage Price')

Water     3000
Tea       3500
Wine     40000
Name: Beverage Price, dtype: int64

## Saving CSV file to DataFrame

In [6]:
df = pd.read_csv('winemag-data-130k-v2.csv')
df.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

## DataFrame dimension with attribute `shape`

In [7]:
df.shape

(129971, 14)

In [8]:
df.size # the total number of data (number_of_rows*number_of_columns)

1819594

## Changing one of the columns to be index

In [9]:
df = pd.read_csv('winemag-data-130k-v2.csv', index_col=0)
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [10]:
df.shape

(129971, 13)

## Saving dataframe to CSV file

In [11]:
beverage_df = pd.DataFrame(data={'Beverage':['Water', 'Tea', 'Wine'],
                                'Price':[3000, 3500, 40_000]})
beverage_df

  Beverage  Price
0    Water   3000
1      Tea   3500
2     Wine  40000

In [12]:
beverage_df.to_csv('beverage.csv') # automatically comes with index column (default)

## Saving dataframe to CSV file *without index*

In [13]:
beverage_df.to_csv('beverage.csv', index=False) # without index column

## Accessing DataFrame column

There are two ways to access a dataframe column:

### 1. as an attribute
Can only be used for column name that <u>does not</u> have space ` ` in it.

In [14]:
df.country.to_frame()

         country
0          Italy
1       Portugal
2             US
3             US
4             US
...          ...
129966   Germany
129967        US
129968    France
129969    France
129970    France

[129971 rows x 1 columns]

### 2. as dictionary index
Can be used for all types of column name, including the ones with space ` ` in it.

In [15]:
df['country'].to_frame()

         country
0          Italy
1       Portugal
2             US
3             US
4             US
...          ...
129966   Germany
129967        US
129968    France
129969    France
129970    France

[129971 rows x 1 columns]

In [16]:
df['country'][1] # data with index=1 in 'country' column

'Portugal'

## Accessing data in dataframe

There are two ways to access data within a dataframe:  
**index-based selection** & **label-based selection**.  

The syntax for both ways is: `[n_row, n_column]`

### 1. index-based selection `iloc`

In [17]:
df.iloc[0].to_frame() # to access row with index=0

                                                                       0
country                                                            Italy
description            Aromas include tropical fruit, broom, brimston...
designation                                                 Vulkà Bianco
points                                                                87
price                                                                NaN
province                                               Sicily & Sardinia
region_1                                                            Etna
region_2                                                             NaN
taster_name                                                Kerin O’Keefe
taster_twitter_handle                                       @kerinokeefe
title                                  Nicosia 2013 Vulkà Bianco  (Etna)
variety                                                      White Blend
winery                                                           Nicosia

In [18]:
df.iloc[2, 0] # to access row with index=2 and column with index=0

'US'

**Slicing iloc**

In [19]:
df.iloc[:, 0].to_frame()

# to access ALL rows, but only column with index=0 (the first column from left)

         country
0          Italy
1       Portugal
2             US
3             US
4             US
...          ...
129966   Germany
129967        US
129968    France
129969    France
129970    France

[129971 rows x 1 columns]

In [20]:
df.iloc[0, :7].to_frame()

# to access row with index=0 (the first row), but only column with index=0,1,2,3,4,5,6

                                                             0
country                                                  Italy
description  Aromas include tropical fruit, broom, brimston...
designation                                       Vulkà Bianco
points                                                      87
price                                                      NaN
province                                     Sicily & Sardinia
region_1                                                  Etna

In [21]:
df.iloc[1:3, 0].to_frame()

# to access rows with index=1,2 but only column with index=0

    country
1  Portugal
2        US

Specify which columns we want to access:

In [22]:
df.iloc[0, [0,3,8]].to_frame()

# to access row with index=0, but only column with index=0,3,8

                         0
country              Italy
points                  87
taster_name  Kerin O’Keefe

In [23]:
df.iloc[-5:]

# to access the last 5 rows

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
129966,Germany,Notes of honeysuckle and cantaloupe sweeten th...,Brauneberger Juffer-Sonnenuhr Spätlese,90,28.0,Mosel,NaN,NaN,Anna Lee C. Iijima,NaN,Dr. H. Thanisch (Erben Müller-Burggraef) 2013 ...,Riesling,Dr. H. Thanisch (Erben Müller-Burggraef)
129967,US,Citation is given as much as a decade of bottl...,NaN,90,75.0,Oregon,Oregon,Oregon Other,Paul Gregutt,@paulgwine,Citation 2004 Pinot Noir (Oregon),Pinot Noir,Citation
129968,France,Well-drained gravel soil gives this wine its c...,Kritt,90,30.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Gresser 2013 Kritt Gewurztraminer (Als...,Gewürztraminer,Domaine Gresser
129969,France,"A dry style of Pinot Gris, this is crisp with ...",NaN,90,32.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Marcel Deiss 2012 Pinot Gris (Alsace),Pinot Gris,Domaine Marcel Deiss
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

### 2. label-based selection `loc`

In [24]:
df.loc[0, 'country'] # to access row with index=0 and 'country' column

'Italy'

In [25]:
df.loc[0:5, 'country'].to_frame() # to access row with index=0,1,2,3,4,5 and 'country' column

    country
0     Italy
1  Portugal
2        US
3        US
4        US
5     Spain

In [26]:
df.loc[:, ['taster_name', 'taster_twitter_handle', 'points']].head()
# to access ALL rows, but only 'taster_name'; 'taster_twitter_handle'; and 'points' column

          taster_name taster_twitter_handle  points
0       Kerin O’Keefe          @kerinokeefe      87
1          Roger Voss            @vossroger      87
2        Paul Gregutt           @paulgwine       87
3  Alexander Peartree                   NaN      87
4        Paul Gregutt           @paulgwine       87

### 3. another alternative

In [27]:
df[['title', 'description', 'variety', 'price', 'winery']][:].head()

,title,description,variety,price,winery
0,Nicosia 2013 Vulkà Bianco (Etna),"Aromas include tropical fruit, broom, brimston...",White Blend,NaN,Nicosia
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),"This is ripe and fruity, a wine that is smooth...",Portuguese Red,15.0,Quinta dos Avidagos
2,Rainstorm 2013 Pinot Gris (Willamette Valley),"Tart and snappy, the flavors of lime flesh and...",Pinot Gris,14.0,Rainstorm
3,St. Julian 2013 Reserve Late Harvest Riesling ...,"Pineapple rind, lemon pith and orange blossom ...",Riesling,13.0,St. Julian
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,"Much like the regular bottling from 2012, this...",Pinot Noir,65.0,Sweet Cheeks

In [28]:
df[['country', 'province', 'region_1', 'region_2']][:5]

    country           province             region_1           region_2
0     Italy  Sicily & Sardinia                 Etna                NaN
1  Portugal              Douro                  NaN                NaN
2        US             Oregon    Willamette Valley  Willamette Valley
3        US           Michigan  Lake Michigan Shore                NaN
4        US             Oregon    Willamette Valley  Willamette Valley

## Changing index

- `wine_df = df.set_index('title')` -> without inplace=True, but assign it to a variable.  
- `df.set_index('title', inplace=True)` -> give argument inplace=True.

We can change the index column of `df` permanently with either one of the two ways above.

In [29]:
wine_df = df.set_index('title')
wine_df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
title,,,,,,,,,,,,
Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
St. Julian 2013 Reserve Late Harvest Riesling (Lake Michigan Shore),US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
Sweet Cheeks 2012 Vintner's Reserve Wild Child Block Pinot Noir (Willamette Valley),US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks

In [30]:
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks

In [31]:
wine_df = wine_df.reset_index()
wine_df.head()

,title,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,variety,winery
0,Nicosia 2013 Vulkà Bianco (Etna),Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,White Blend,Nicosia
1,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Portuguese Red,Quinta dos Avidagos
2,Rainstorm 2013 Pinot Gris (Willamette Valley),US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Gris,Rainstorm
3,St. Julian 2013 Reserve Late Harvest Riesling ...,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,Riesling,St. Julian
4,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Pinot Noir,Sweet Cheeks

## Data selection
Conditional selection

In [32]:
df['country'].unique()

array(['Italy', 'Portugal', 'US', 'Spain', 'France', 'Germany',
       'Argentina', 'Chile', 'Australia', 'Austria', 'South Africa',
       'New Zealand', 'Israel', 'Hungary', 'Greece', 'Romania', 'Mexico',
       'Canada', nan, 'Turkey', 'Czech Republic', 'Slovenia',
       'Luxembourg', 'Croatia', 'Georgia', 'Uruguay', 'England',
       'Lebanon', 'Serbia', 'Brazil', 'Moldova', 'Morocco', 'Peru',
       'India', 'Bulgaria', 'Cyprus', 'Armenia', 'Switzerland',
       'Bosnia and Herzegovina', 'Ukraine', 'Slovakia', 'Macedonia',
       'China', 'Egypt'], dtype=object)

In [33]:
(df['country']=='US').to_frame()
# to check whether each row in 'country' column has 'US' value (True) or not (False)

        country
0         False
1         False
2          True
3          True
4          True
...         ...
129966    False
129967     True
129968    False
129969    False
129970    False

[129971 rows x 1 columns]

In [34]:
df.loc[df['country'] == 'Armenia'] # similar to WHERE statement in SQL

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
8170,Armenia,"Medium straw in the glass, this wine has a nos...",Estate Bottled,87,14.0,Armenia,NaN,NaN,Mike DeSimone,@worldwineguys,Van Ardi 2015 Estate Bottled Kangoun (Armenia),Kangoun,Van Ardi
66146,Armenia,"Deep salmon in color, this wine offers a bouqu...",Estate Bottled,88,15.0,Armenia,NaN,NaN,Mike DeSimone,@worldwineguys,Van Ardi 2015 Estate Bottled Rosé (Armenia),Rosé,Van Ardi

In [35]:
df.loc[(df['province']=='Victoria') & (df['points']>=98)].head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
67096,Australia,Just a tiny serving of this dark nectar will l...,Calliope Rare,98,86.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,R.L. Buller & Son NV Calliope Rare Tokay (Ruth...,Tokay,R.L. Buller & Son
109427,Australia,This wine is dark brown in hue with a greenish...,Rare,99,300.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards

In [36]:
df[(df['province']=='Victoria') & (df['points']>=98)]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
345,Australia,This wine contains some material over 100 year...,Rare,100,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscat (Ru...,Muscat,Chambers Rosewood Vineyards
346,Australia,"This deep brown wine smells like a damp, mossy...",Rare,98,350.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards
67096,Australia,Just a tiny serving of this dark nectar will l...,Calliope Rare,98,86.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,R.L. Buller & Son NV Calliope Rare Tokay (Ruth...,Tokay,R.L. Buller & Son
109427,Australia,This wine is dark brown in hue with a greenish...,Rare,99,300.0,Victoria,Rutherglen,NaN,Joe Czerwinski,@JoeCz,Chambers Rosewood Vineyards NV Rare Muscadelle...,Muscadelle,Chambers Rosewood Vineyards

## Using built-in method `isin`

In [37]:
df.loc[df['country'].isin(['China', 'Egypt'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
109989,China,This deep ruby-colored wine features a bouquet...,Noble Dragon,89,18.0,China,NaN,NaN,Mike DeSimone,@worldwineguys,Chateau Changyu-Castel 2009 Noble Dragon Red (...,Cabernet Blend,Chateau Changyu-Castel
110246,Egypt,"Ripe pear, apple and tropical fruit in the nos...",Caspar Blanc de Noirs,84,NaN,Egypt,NaN,NaN,Susan Kostrzewa,@suskostrzewa,Sahara Vineyards 2008 Caspar Blanc de Noirs Gr...,Grenache,Sahara Vineyards

## Identifying missing values with `isna` and `notna`

In [38]:
df.isna().head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,False,False,False,False,True,False,False,True,False,False,False,False,False
1,False,False,False,False,False,False,True,True,False,False,False,False,False
2,False,False,True,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,True,False,True,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False

In [39]:
df[df['price'].isna()].head() # to access all rows with NaN values in its 'price' column

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
13,Italy,This is dominated by oak and oak-driven aromas...,Rosso,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Masseria Setteporte 2012 Rosso (Etna),Nerello Mascalese,Masseria Setteporte
30,France,Red cherry fruit comes laced with light tannin...,Nouveau,86,NaN,Beaujolais,Beaujolais-Villages,NaN,Roger Voss,@vossroger,Domaine de la Madone 2012 Nouveau (Beaujolais...,Gamay,Domaine de la Madone
31,Italy,Merlot and Nero d'Avola form the base for this...,Calanìca Nero d'Avola-Merlot,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2010 Calanìca Nero d'Avola-...,Red Blend,Duca di Salaparuta
32,Italy,"Part of the extended Calanìca series, this Gri...",Calanìca Grillo-Viognier,86,NaN,Sicily & Sardinia,Sicilia,NaN,NaN,NaN,Duca di Salaparuta 2011 Calanìca Grillo-Viogni...,White Blend,Duca di Salaparuta

In [40]:
df[df['price'].notna()].head() # to access all rows with non-NaN values in its 'price' column

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks
5,Spain,Blackberry and raspberry aromas show a typical...,Ars In Vitro,87,15.0,Northern Spain,Navarra,NaN,Michael Schachner,@wineschach,Tandem 2011 Ars In Vitro Tempranillo-Merlot (N...,Tempranillo-Merlot,Tandem

## Adding a new column to DataFrame

In [41]:
# to get a list of all the existing columns
df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery'],
      dtype='object')

Let's say we want to add a new column with name `critic` that has the value `'everyone'` for each row.

In [42]:
df['critic'] = 'everyone'
df['critic'].head().to_frame()

     critic
0  everyone
1  everyone
2  everyone
3  everyone
4  everyone

In [43]:
df.columns

Index(['country', 'description', 'designation', 'points', 'price', 'province',
       'region_1', 'region_2', 'taster_name', 'taster_twitter_handle', 'title',
       'variety', 'winery', 'critic'],
      dtype='object')

and add a new column with name `index_backwards` and give a descending integer value as many as the number of the DataFrame rows.

In [44]:
df['index_backwards'] = range(len(df), 0, -1)
df.index_backwards.head().to_frame()

   index_backwards
0           129971
1           129970
2           129969
3           129968
4           129967

In [45]:
df.drop('index_backwards', axis=1, inplace=True)
df.head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone

## Get a summary of DataFrame

with method: `describe`, `mean`, `unique`, `value_counts`

In [46]:
df.describe()

              points          price
count  129971.000000  120975.000000
mean       88.447138      35.363389
std         3.039730      41.022218
min        80.000000       4.000000
25%        86.000000      17.000000
50%        88.000000      25.000000
75%        91.000000      42.000000
max       100.000000    3300.000000

In [47]:
df['points'].describe().to_frame()

              points
count  129971.000000
mean       88.447138
std         3.039730
min        80.000000
25%        86.000000
50%        88.000000
75%        91.000000
max       100.000000

In [48]:
df['points'].mean()

88.44713820775404

`describe` can also be used for column with object/non-numerical data type:`

In [49]:
df['taster_name'].describe().to_frame()

       taster_name
count       103727
unique          19
top     Roger Voss
freq         25514

In [50]:
df['taster_name'].unique()

array(['Kerin O’Keefe', 'Roger Voss', 'Paul Gregutt',
       'Alexander Peartree', 'Michael Schachner', 'Anna Lee C. Iijima',
       'Virginie Boone', 'Matt Kettmann', nan, 'Sean P. Sullivan',
       'Jim Gordon', 'Joe Czerwinski', 'Anne Krebiehl\xa0MW',
       'Lauren Buzzeo', 'Mike DeSimone', 'Jeff Jenssen',
       'Susan Kostrzewa', 'Carrie Dykes', 'Fiona Adams',
       'Christina Pickard'], dtype=object)

In [51]:
df['taster_name'].value_counts().head().to_frame()

                   count
taster_name
Roger Voss         25514
Michael Schachner  15134
Kerin O’Keefe      10776
Virginie Boone      9537
Paul Gregutt        9532

## Mapping

There are two ways to do mapping in DataFrame: `map` or `apply`

### `map` for Series (meaning only 1 column)

In [52]:
points_mean = df['points'].mean()
df['points'].map(lambda p: p - points_mean).to_frame().head()

     points
0 -1.447138
1 -1.447138
2 -1.447138
3 -1.447138
4 -1.447138

### `apply` for DataFrame

In [53]:
points_mean = df['points'].mean()

def remean_points(row):
    row['points'] = row['points'] - points_mean
    return row

df.apply(remean_points, axis=1).head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,-1.447138,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,-1.447138,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,-1.447138,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,-1.447138,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,-1.447138,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone

### Another alternative with built-in operations

This method is faster and most efficient compared to `map` and `apply` but it cannot be used for complex processing.

In [54]:
points_mean = df['points'].mean()

(df['points'] - points_mean).to_frame().head()

     points
0 -1.447138
1 -1.447138
2 -1.447138
3 -1.447138
4 -1.447138

In [55]:
(df['country'] + ' - ' + df['region_1']).to_frame().head()

                          0
0              Italy - Etna
1                       NaN
2    US - Willamette Valley
3  US - Lake Michigan Shore
4    US - Willamette Valley

### Case 1: searching for the wine 'title' with highest points/price proportion `idxmax`

In [56]:
df.loc[(df['points']/df['price']).idxmax(), 'title']
# output: id for the title with max (highest) points to price proportion

'Bandit NV Merlot (California)'

In [57]:
df['title'][(df['points']/df['price']).idxmax()]

'Bandit NV Merlot (California)'

### Case 2: searching for the number of wine with `tropical` and `fruity` description, and put the output into a Series.

In [58]:
n_tropical = df['description'].map(lambda desc: 'tropical' in desc).sum()
n_fruity = df['description'].map(lambda desc: 'fruity' in desc).sum()

pd.Series([n_tropical, n_fruity], index=['tropical', 'fruity']).to_frame()

             0
tropical  3607
fruity    9090

### Case 3: convert 'points' column to 'star' column

In [59]:
def star_converter(row):
    if row['country'] == 'Canada':
        row['star'] = 3
    elif row['points'] >= 95:
        row['star'] = 3
    elif row['points'] >= 85:
        row['star'] = 2
    else:
        row['star'] = 1
    return row

df['star'] = None
df.apply(star_converter, axis='columns').head()

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,star
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,2
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,2
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,2
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,2
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,2

## Doing analysis on a group of data

### Case: counting the number of data (rows) for each point

#### Use method `.value_counts()`

In [60]:
df['points'].value_counts().head().to_frame()

        count
points
88      17207
87      16933
90      15410
86      12600
89      12226

#### Group the data with method `.groupby()`

In [61]:
df.groupby('points')['points'].count().sort_values(ascending=False).head().to_frame()
# sorted from highest to lowest points

        points
points
88       17207
87       16933
90       15410
86       12600
89       12226

#### Case: get wine reviewer names with the number of reviews done

In [62]:
df.groupby('taster_name')['taster_name'].count().sort_values().head().to_frame()
# sorted from lowest to highest number of reviews

                    taster_name
taster_name
Christina Pickard             6
Fiona Adams                  27
Carrie Dykes                139
Alexander Peartree          415
Jeff Jenssen                491

In [63]:
df.groupby('taster_name')['taster_name'].count().head().to_frame()
# default: taster_name is sorted alphabetically from A to Z

                    taster_name
taster_name
Alexander Peartree          415
Anna Lee C. Iijima         4415
Anne Krebiehl MW           3685
Carrie Dykes                139
Christina Pickard             6

#### Case: find the lowest price for each point

In [64]:
df.groupby('points')['price'].min().head().to_frame()

        price
points
80        5.0
81        5.0
82        4.0
83        4.0
84        4.0

#### Case: show the title of wine for every province in every country with the highest point

In [65]:
df.groupby(['country', 'province']).apply(lambda df: df[ df['points'] == df['points'].max() ])['title'].to_frame()

                                                                              title
country   province
Argentina Mendoza Province 82754  Bodega Catena Zapata 2006 Nicasia Vineyard Mal...
          Other            78303                 Colomé 2010 Reserva Malbec (Salta)
Armenia   Armenia          66146        Van Ardi 2015 Estate Bottled Rosé (Armenia)
Australia Australia Other  37882  Marquis Philips 2000 Sarah's Blend Red (South ...
          New South Wales  85337  De Bortoli 2007 Noble One Bortytis Semillon (N...
...                                                                             ...
Uruguay   Montevideo       39373             Bouza 2015 Reserva Tannat (Montevideo)
          Progreso         93103  Pisano 2007 Etxe Oneko Fortified Sweet Red Tan...
          San Jose         39898  Castillo Viejo 2005 El Preciado Gran Reserva R...
          Uruguay          39361  Narbona NV Blend 002 Limited Edition Tannat-Ca...
                           98839                  Pizzorno 2011 Primo Red (Uruguay)

[723 rows x 1 columns]

### method `agg`

`len`: number of data, similar to `count`  
`min`: lowest value of the data  
`max`: highest value of the data

#### Group the dataset by country names, and calculate len, min, max value of the price in each country

In [73]:
df.groupby('country')['price'].agg([len, min, max]).head()

                         len   min     max
country
Argentina               3800   4.0   230.0
Armenia                    2  14.0    15.0
Australia               2329   5.0   850.0
Austria                 3345   7.0  1100.0
Bosnia and Herzegovina     2  12.0    13.0

In [70]:
import warnings
warnings.filterwarnings('ignore')

#### Show the lowest and highest price for every wine variety

In [74]:
df.groupby('variety')['price'].agg([min, max]).head()

              min    max
variety
Abouriou     15.0   75.0
Agiorgitiko  10.0   66.0
Aglianico     6.0  180.0
Aidani       27.0   27.0
Airen         8.0   10.0

## Sorting data

Make a simpler dataframe that consists of 3 columns:

In [75]:
wine_simple_df = df[['country', 'title', 'price']]
wine_simple_df.head()

    country                                              title  price
0     Italy                  Nicosia 2013 Vulkà Bianco  (Etna)    NaN
1  Portugal      Quinta dos Avidagos 2011 Avidagos Red (Douro)   15.0
2        US      Rainstorm 2013 Pinot Gris (Willamette Valley)   14.0
3        US  St. Julian 2013 Reserve Late Harvest Riesling ...   13.0
4        US  Sweet Cheeks 2012 Vintner's Reserve Wild Child...   65.0

### Sorting data by price

In [81]:
# default: numerical data sorted from lowest to highest price (ascending)

wine_simple_df.sort_values(by='price').head()

       country                                             title  price
20484       US            Dancing Coyote 2015 White (Clarksburg)    4.0
112919   Spain  Terrenal 2010 Estate Bottled Tempranillo (Yecla)    4.0
59507       US   Pam's Cuties NV Unoaked Chardonnay (California)    4.0
31530       US                 Bandit NV Chardonnay (California)    4.0
61768    Spain          Terrenal 2010 Cabernet Sauvignon (Yecla)    4.0

In [80]:
# numerical data from highest to lowest price (descending)

wine_simple_df.sort_values(by='price', ascending=False).head()

       country                                              title   price
80290   France               Château les Ormes Sorbet 2013  Médoc  3300.0
15840   France                       Château Pétrus 2014  Pomerol  2500.0
98380   France     Domaine du Comte Liger-Belair 2010  La Romanée  2500.0
120391      US  Blair 2013 Roger Rose Vineyard Chardonnay (Arr...  2013.0
113564  France     Domaine du Comte Liger-Belair 2005  La Romanée  2000.0

### Sorting data by country and title

Because 'country' is written first, the dataset is sorted by 'country' names first, and then 'title' afterwards.

In [84]:
# default: categorical data sorted alphabetically from A to Z

wine_simple_df.sort_values(by=['country', 'title']).head()

         country                                              title  price
5902   Argentina                         2 Copas 2009 Red (Mendoza)    8.0
45568  Argentina      25 Lagunas 2014 Cabernet Sauvignon (San Juan)   10.0
9790   Argentina  Achaval-Ferrer 2006 Finca Altamira Malbec (La ...  112.0
73744  Argentina  Achaval-Ferrer 2007 Finca Mirador Malbec (Medr...  112.0
7076   Argentina               Achaval-Ferrer 2007 Malbec (Mendoza)   29.0

In [83]:
# categorical data sorted alphabetically from Z to A

wine_simple_df.sort_values(by=['country', 'title'], ascending=False).head()

        country                                              title  price
117371  Uruguay  Viñedo de los Vientos 2016 Estival White (Atla...   15.0
6969    Uruguay  Viñedo de los Vientos 2012 Eolo Gran Reserva R...   23.0
10581   Uruguay  Viñedo de los Vientos 2008 Angel's Cuvée Ripas...   40.0
27115   Uruguay               Pueblo del Sol 2013 Tannat (Juanico)   10.0
48543   Uruguay               Pueblo del Sol 2010 Tannat (Juanico)   10.0

### Case: show the lowest and highest price for every wine variety, sorted in descending order

In [87]:
df.groupby('variety')['price'].agg(['min', 'max']).sort_values(by=['min', 'max'], ascending=False).head()

                    min    max
variety
Ramisco           495.0  495.0
Terrantez         236.0  236.0
Francisa          160.0  160.0
Rosenmuskateller  150.0  150.0
Tinta Negra Mole  112.0  112.0

### Case: show average points given by each reviewer

In [89]:
df.groupby('taster_name')['points'].mean().head().to_frame()

                       points
taster_name
Alexander Peartree  85.855422
Anna Lee C. Iijima  88.415629
Anne Krebiehl MW    90.562551
Carrie Dykes        86.395683
Christina Pickard   87.833333

### Case: show the number of wine `title` for every wine `variety` produced in each `country`

In [94]:
df.groupby(['country', 'variety'])['title'].count().sort_values(ascending=False).to_frame()

                                  title
country variety
US      Pinot Noir                 9885
        Cabernet Sauvignon         7315
        Chardonnay                 6801
France  Bordeaux-style Red Blend   4725
Italy   Red Blend                  3624
...                                 ...
Mexico  Cinsault                      1
        Grenache                      1
        Merlot                        1
        Rosado                        1
Uruguay White Blend                   1

[1612 rows x 1 columns]

## Renaming column names in DataFrame `rename`

In [95]:
# df.rename(columns={'points':'score'}, inplace=True) for permanent changes, or
# df_new = df.rename(columns={'points':'score'}) for permanent changes

df.rename(columns={'points':'score'}).head()

,country,description,designation,score,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,star
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,None
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,None
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,None
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,None
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,None

### Change label/index name with method `.rename_axis()`

By default, axis don't have names/labels, so we add the names:

In [97]:
df.rename_axis('rows', axis=0).rename_axis('columns', axis=1).head()

columns,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery,critic,star
rows,,,,,,,,,,,,,,,
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia,everyone,None
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos,everyone,None
2,US,"Tart and snappy, the flavors of lime flesh and...",NaN,87,14.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Rainstorm 2013 Pinot Gris (Willamette Valley),Pinot Gris,Rainstorm,everyone,None
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian,everyone,None
4,US,"Much like the regular bottling from 2012, this...",Vintner's Reserve Wild Child Block,87,65.0,Oregon,Willamette Valley,Willamette Valley,Paul Gregutt,@paulgwine,Sweet Cheeks 2012 Vintner's Reserve Wild Child...,Pinot Noir,Sweet Cheeks,everyone,None